*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button {
  font: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
}
